@page "/"

<PageTitle>Moogle!</PageTitle>

<h1>🔍 Moogle!</h1>

<input class="p-1" @bind="query" placeholder="Introduzca su búsqueda">

<button type="default" class="btn btn-primary" @onclick="RunQuery">🔍 Buscar</button>

@if (!string.IsNullOrEmpty(result.Suggestion)) {
    <div class="suggestion">
        <p><B>¿Quisiste decir </B><strong><a href="#"><I>@result.Suggestion</I></a></strong><B> ?</B></p>
    </div>
}

<ul class="results">
@foreach (var item in result.Items()) {
    <li>
        <div class="item">
            <p class="title"><center>@item.Title</center></p>
            <p>... @item.Snippet ...</p>
            <p class="score"><bottom><center>@item.Score</center></bottom></p>
        </div>
    </li>
}
</ul>

@code {
    private string query = "";
    private SearchResult result = new SearchResult();

    private void RunQuery() {
        result = Moogle.Query(query, Program.dataBase, Program.documents);
    }
}
